

# MonoDevelop
*.[Oo]bj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.resources
*.res
*.zip
*.userprefs
*.sln
*.csproj
*.exe.mdb
*.config
*/Properties/
*/bin/
*/obj/
*/Debug/
*/bin/Debug/
*/obj/x86/Debug/

WebServer_UnitTests.csproj
WebServerBasics.csproj

AssemblyInfo.cs


# NuGet packages
!.nuget/*
packages/

# Temporary Files
~.*
~$*


# pkg-config
*.pc


